* {
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
    font-family: "Outfit", sans-serif;

    
}
body {
    background-image: url(https://images.pexels.com/photos/5792418/pexels-photo-5792418.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 900px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.hero-header {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}
h1 {
    font-size: 2rem;
    font-weight: 800;
  
}
.content-main {
    margin-top: 100px;
    
    display: flex;
    align-items: center;
    justify-content: center;
flex-direction: column;
}


.content-main a {
    border: 1px solid black;
    padding: 7px 18px;
    border-radius: 1em;

    text-decoration: none;
    background-color: black;
    color: white;
    text-align: center;
    margin: 25px;
    font-size: 1.5em;

}
a:hover {
    background-color: rgb(5, 70, 49);
    transition: .25s;
}
.content-main img {
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 2em;
    box-shadow: 1px black;
}
img {
    width: 350px;
}

.container-lg {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15 px;

}