* {
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
    font-family: "Outfit", sans-serif;

    
}
body {
    background-image: url(https://images.unsplash.com/photo-1494642902649-ec7b992a0f5b?q=80&w=2564&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 900px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.hero-header {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}
h1 {
    font-size: 2rem;
    font-weight: 800;
}
.content-main {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
flex-direction: column;
}

.content-main a {
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 1em;
    text-decoration: none;
    background-color: black;
    color: white;
    text-align: center;
    margin: 25px;

}
a:hover {
    background-color: rgb(5, 70, 49);
    transition: .25s;
}
.content-main img {
    margin: 50px;
}
img {
    width: 200px;
}

.container-lg {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15 px;

}